[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
label-studio = "*"
tensorflow = "*"
pydantic-settings = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.12"
